name: example
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  qimendunjia:
    path: ../
  common:
    path: ../../common
  provider: ^6.1.5+1
  timezone: ^0.11.0

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/icons/
    - assets/qi_men_dun_jia/
    - assets/lotties/
    - assets/backgrounds/
    - assets/dataset/
